<template>
    <form>
        <div class="form-group">
            <label for="host-lang" class="col-form-label">Language:</label>
            <input type="text" class="form-control" id="host-lang" @input="$emit('input-lang', $event.target.value)" />
        </div>
        <div class="form-group">
            <label for="message-name" class="col-form-label">Name:</label>
            <input class="form-control" id="host-name"  @input="$emit('input-name', $event.target.value)" />
        </div>
    </form>
</template>

<script>
    export default {
        props: ["lang", "name"]
    };
</script>
