<template>
    <div class="container-fluid">
        <div class="form-group row" v-if="isNew">
            <label class="text-white col-sm-3 col-form-label">file name</label>
            <input class="form-control col-sm-9" type="text" v-model="hostFileName" />
        </div>
        <host-image-url
            title="Profile Image"
            type="profile"
            :profile="hostInfo.imgUrl.profile"
            @img-path-update="onImgPathUpdate"
            @img-path-delete="onImgPathDelete"
            @img-path-create="onImgPathCreate"
            @add="onAdd"
        ></host-image-url>

        <host-image-url
            title="Profile Head Image"
            type="head"
            :profile="hostInfo.imgUrl.head"
            @img-path-update="onImgPathUpdate"
            @img-path-delete="onImgPathDelete"
            @img-path-create="onImgPathCreate"
            @add="onAdd"
        ></host-image-url>
        <div class="form-group row">
            <label class="text-white col-sm-3 col-form-label">Language</label>
            <select class="form-control col-sm-7" v-model="selectedLang">
                <option
                    v-for="(item, key, itemIndex) in hostInfo.content"
                    :value="key"
                    :key="itemIndex"
                    :selected="itemIndex === 0"
                >{{key}}</option>
            </select>
            <div class="col-sm-2">
                <button type="button" class="btn btn-primary btn-block" @click="addLang">add</button>
            </div>
        </div>
        <div class="form-group row">
            <label class="text-white col-sm-3 col-form-label">name</label>
            <input
                class="form-control col-sm-9"
                type="text"
                v-model="hostInfo.content[selectedLang].name"
            />
        </div>
        <div class="form-group row border border-secondary py-4 px-4">
            <div class="form-group col-sm-12">
                <div class="row">
                    <label class="text-white col-sm-2 col-form-label">details</label>
                    <div class="col-sm-10">
                        <button type="button" class="btn btn-primary" @click="addHostDetail">add</button>
                    </div>
                </div>
            </div>
            <div
                class="form-group col-sm-12"
                v-for="(item, itemIndex) in hostInfo.content[selectedLang].detail"
                :key="itemIndex"
            >
                <div class="row">
                    <div class="col-sm-3">
                        <div class="row">
                            <label class="text-white col col-form-label">icon</label>
                            <input class="form-control col" type="text" v-model="item.icon" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <label class="text-white col col-form-label">title</label>
                            <input class="form-control col" type="text" v-model="item.title" />
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="row">
                            <label class="text-white col col-form-label">content</label>
                            <input class="form-control col" type="text" v-model="item.txt" />
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button class="btn btn-danger" @click="deleteDetail(itemIndex)">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group row">
            <label class="text-white col-sm-3 col-form-label">talks</label>
            <input
                class="form-control col-sm-9"
                type="text"
                v-model="hostInfo.content[selectedLang].talks"
            />
        </div>
        <div class="from-group row" v-if="isNew">
            <button
                type="button"
                class="btn btn-danger btn-lg col mr-4"
                @click="cancelCreate"
            >cancel</button>
            <button type="button" class="btn btn-success btn-lg col" @click="createProfile">create</button>
        </div>
        <div class="from-group row" v-else>
            <button type="button" class="btn btn-primary btn-lg btn-block" @click="saveProfile">Save</button>
        </div>
    </div>
</template>

<script>
    import ImageFileRender from "../ImageFileRendr";
    import HostImageUrl from "./HostImageUrl";
    export default {
        props: ["hostInfo", "hostFileName", "isNew"],
        components: {
            ImageFileRender,
            HostImageUrl
        },
        data() {
            return {
                selectedLang: "zh-cn",
                hostNewLang: "",
                hostNewName: "",
                newHostFileName: ""
            };
        },
        methods: {
            addHostDetail() {
                this.hostInfo.content[this.selectedLang].detail.push({
                    icon: "",
                    title: "",
                    txt: ""
                });
            },
            deleteDetail(index) {
                this.hostInfo.content[this.selectedLang].detail.splice(index, 1);
            },
            addLang(type) {
                this.$emit("show-add-lang-form");
            },
            saveProfile(type, key) {
                this.$store.dispatch("updateHostProfile", {
                    name: this.hostFileName,
                    data: this.hostInfo
                });
            },
            cancelCreate() {
                this.$emit("cancel-create");
            },
            createProfile() {
                this.$store.dispatch("createHostProfile", {
                    name: this.hostFileName,
                    data: this.hostInfo
				}).then(() => {

				});
				this.$emit("cancel-create");
            },
            onImgPathUpdate({ type, key, val }) {
                this.hostInfo.imgUrl[type][key] = val;
            },
            onImgPathDelete({ type, key }) {
                this.$delete(this.hostInfo.imgUrl[type], key);
            },
            onImgPathCreate({ type, key, val }) {
                this.hostInfo.imgUrl[type][key] = val;
                this.$delete(this.hostInfo.imgUrl[type], "input");
            },
            onAdd({ type }) {
                this.$set(this.hostInfo.imgUrl[type], "input", "");
            }
        }
    };
</script>
