<template>
    <div>
        <div class="form-group row border border-secondary py-4 px-4">
            <div class="form-group col-sm-12">
                <div class="row">
                    <label class="text-white col-sm-3 col-form-label">{{title}}</label>
                    <div class="col-sm-9">
                        <button
                            type="button"
                            class="btn btn-primary"
                            @click="$emit('add', {type})"
                        >add</button>
                    </div>
                </div>
            </div>
            <div
                class="form-group col-sm-12"
                v-for="(item, itemKey, itemIndex) in profile"
                :key="itemIndex"
            >
                <div class="row" v-if="itemKey === 'input'">
                    <div class="col-sm-10">
                        <div class="row">
                            <input
                                class="form-control col-2"
                                type="text"
                                v-model="addPathKey"
                                placeholder="product id"
                            />
                            <input
                                class="form-control col-10"
                                type="text"
                                placeholder="image path"
                                v-model="addPathUrl"
                            />
                        </div>
                    </div>
                    <div class="col-sm-1 px-1">
                        <button
                            class="btn btn-success"
                            @click="$emit('img-path-create', {
								type,
								key: addPathKey,
								val: addPathUrl,
							})"
                        >confirm</button>
                    </div>
                    <div class="col-sm-1">
                        <button
                            class="btn btn-danger"
                            @click="$emit('img-path-delete', {type, key: 'input'})"
                        >cancel</button>
                    </div>
                </div>
                <div class="row" v-else>
                    <div class="col-sm-11">
                        <div class="row">
                            <label class="text-white col-3 col-form-label">{{itemKey}}</label>
                            <input
                                class="form-control col-9"
                                type="text"
                                v-model="profile[itemKey]"
                                @change="$emit('img-path-update', {type, key: itemKey, val: $event.target.value})"
                            />
                        </div>
                    </div>
                    <div class="col-sm-1">
                        <button
                            class="btn btn-danger"
                            @click="$emit('img-path-delete', {type, key: itemKey})"
                        >Delete</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        props: ["title", "type", "profile"],
        data() {
            return {
                addPathKey: "",
                addPathUrl: ""
            };
        }
    };
</script>
