<template>
    <div class="container mt-5">
        <div class="form-group row">
            <label class="text-white col-sm-2 col-form-label">free play account</label>
            <input class="form-control col-sm-10" type="text" v-model="account" @input="account"/>
        </div>
        <div class="form-group row">
            <label class="text-white col-sm-2 col-form-label">Env.</label>
            <select class="form-control col-sm-10" v-model="selectedEnv">
                <option
                    v-for="(item, itemIndex) in envList"
                    :value="item.url"
                    :key="itemIndex"
                    :selected="itemIndex === 0"
                >{{item.env}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="text-white col-sm-2 col-form-label">Product.</label>
            <select class="form-control col-sm-10" v-model="selectedProduct">
                <option
                    v-for="(item, itemIndex) in product"
                    :value="item"
                    :key="itemIndex"
                    :selected="itemIndex === 0"
                >{{item}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="text-white col-sm-2 col-form-label">Language</label>
            <select class="form-control col-sm-10" v-model="selectedLanguage">
                <option
                    v-for="(item, itemIndex) in language"
                    :value="item"
                    :key="itemIndex"
                    :selected="itemIndex === 0"
                >{{item}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="text-white col-sm-2 col-form-label">Currency</label>
            <select class="form-control col-sm-10" v-model="selectedCurrency">
                <option
                    v-for="(item, itemIndex) in currency"
                    :value="item"
                    :key="itemIndex"
                    :selected="itemIndex === 0"
                >{{item}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="text-white col-sm-2 col-form-label">GameName</label>
            <select class="form-control col-sm-10" v-model="selectedGameName">
                <option
                    v-for="(item, itemIndex) in gameName"
                    :value="item"
                    :key="itemIndex"
                    :selected="itemIndex === 0"
                >{{item}}</option>
            </select>
        </div>
        <div class="form-group row">
            <label class="text-white col-sm-2 col-form-label">Licensee</label>
            <input class="form-control col-sm-10" type="text" v-model="licenseeCode" @input="onInputLicensee"/>
        </div>
        <div class="form-group">
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="exampleCheck1" v-model="isTimeInterval" />
                <label class="text-white custom-control-label" for="exampleCheck1">設定時間範圍</label>
            </div>
            <div class="row">
                <label class="text-white col-sm-2 col-form-label">Start</label>
                <span class="col-sm-4">
                    <date-picker v-model="startDatetime" :config="options" :disabled="!isTimeInterval"></date-picker>
                </span>
                <label class="text-white col-sm-2 col-form-label">End</label>
                <span class="col-sm-4">
                    <date-picker v-model="endDatetime" :config="options" :disabled="!isTimeInterval"></date-picker>
                </span>
            </div>
        </div>
        <div class="form-group row">
            <label class="text-white col-sm-2 col-form-label">Token</label>
            <textarea class="form-control col-sm-10" cols="30" rows="10" v-model="token" @input="onInputToken"></textarea>
        </div>
        <div class="form-group row">
            <button type="button" class="btn btn-primary btn-lg btn-block" @click="generateURL">Send</button>
        </div>
    </div>
</template>

<script>
    import { mapGetters } from "vuex";
    /// Import required dependencies
    import "bootstrap/dist/css/bootstrap.css";

    // Import this component
    import datePicker from "vue-bootstrap-datetimepicker";
    // Import date picker css
    import "pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css";
    // Using font-awesome 5 icons
    import "@fortawesome/fontawesome-free/css/fontawesome.css";
    import "@fortawesome/fontawesome-free/css/regular.css";
    import "@fortawesome/fontawesome-free/css/solid.css";

    jQuery.extend(true, jQuery.fn.datetimepicker.defaults, {
        icons: {
            time: "far fa-clock",
            date: "far fa-calendar",
            up: "fas fa-arrow-up",
            down: "fas fa-arrow-down",
            previous: "fas fa-chevron-left",
            next: "fas fa-chevron-right",
            today: "fas fa-calendar-check",
            clear: "far fa-trash-alt",
            close: "far fa-times-circle"
        }
    });

    import moment from "moment";

    export default {
        computed: {
            ...mapGetters({
                envList: "getEnvList",
                language: "getLanguage",
                currency: "getCurrency",
                gameName: "getGameName",
                product: "getProduct"
            })
        },
        data() {
            return {
                options: {
                    format: "YYYY/MM/DD HH:mm:ss",
                    useCurrent: false
				},
				isTimeInterval: false,
                selectedEnv: "",
                selectedProduct: "",
                selectedLanguage: "en-us",
                licenseeCode: localStorage.getItem("saveLicensee"),
                selectedGameName: "BackOffice",
                selectedCurrency: "CNY",
                startDatetime: new Date(),
                endDatetime: new Date(),
                timezone: "",
				betId: "",
				account: "",
                token: localStorage.getItem("saveToken")
            };
        },
        components: {
            datePicker
		},
		created () {
			this.$store.dispatch("queryGameList");
			this.$store.dispatch("queryConfig");
		},
        mounted() {},
        methods: {
			onInputLicensee() {
				localStorage.setItem("saveLicensee", this.licenseeCode);
			},
			onInputToken() {
				localStorage.setItem("saveToken", this.token);
			},
            generateURL() {
                const startMS = moment(this.startDatetime).valueOf();
				const endMS = moment(this.endDatetime).valueOf();

				let url = `${this.selectedEnv}#${this.selectedProduct}?account=${this.account}&lang=${this.selectedLanguage}&licensee=${this.licenseeCode}&gameName=${this.selectedGameName}&currency=${this.selectedCurrency}&timezone=${this.timezone}&bet=${this.betId}`;
				if(this.isTimeInterval) {
					url += `&begin=${startMS}&end=${endMS}`;
				}

				url += `&token=${this.token}`;
                window.open(url);
            }
        }
    };
</script>
