<template>
    <div :class="{container: true, 'mt-5': true, 'modal-open': isShowModal}">
        <div class="container-fluid" v-if="!isNew">
            <div class="form-group row">
                <select
                    class="form-control col-sm-5"
                    v-model="selectedHost"
                    @change="selectHostFun"
                >
                    <option selected value="null">please select host...</option>
                    <option
                        v-for="(item, itemIndex) in hostList"
                        :value="item"
                        :key="itemIndex"
                    >{{item}}</option>
                </select>
                <div class="col-sm-7">
                    <button type="button" class="btn btn-primary" @click="addNewHostInfo">add</button>
                </div>
            </div>
        </div>
        <host-content
            v-if="hostInfo"
            :hostInfo="hostInfo"
            :hostFileName="selectedHost"
            :isNew="isNew"
            @show-add-lang-form="onShowAddLangForm"
            @cancel-create="onCancelCreate"
        ></host-content>
        <modal
            title="New language"
            :isShow="isShowAddLangForm"
            :callBackFun="saveClick"
            @hide-modal="onHideModal"
        >
            <add-lang-form @input-name="hostNewName=$event" @input-lang="hostNewLang=$event"></add-lang-form>
        </modal>
    </div>
</template>

<script>
    import { mapGetters } from "vuex";
    /// Import required dependencies
    import "bootstrap/dist/css/bootstrap.css";

    // Import this component
    import datePicker from "vue-bootstrap-datetimepicker";
    // Import date picker css
    import "pc-bootstrap4-datetimepicker/build/css/bootstrap-datetimepicker.css";
    // Using font-awesome 5 icons
    import "@fortawesome/fontawesome-free/css/fontawesome.css";
    import "@fortawesome/fontawesome-free/css/regular.css";
    import "@fortawesome/fontawesome-free/css/solid.css";

    import Modal from "./Modal";
    import AddLangForm from "./profile/AddLangForm";
    import HostContent from "./profile/HostContent";

    jQuery.extend(true, jQuery.fn.datetimepicker.defaults, {
        icons: {
            time: "far fa-clock",
            date: "far fa-calendar",
            up: "fas fa-arrow-up",
            down: "fas fa-arrow-down",
            previous: "fas fa-chevron-left",
            next: "fas fa-chevron-right",
            today: "fas fa-calendar-check",
            clear: "far fa-trash-alt",
            close: "far fa-times-circle"
        }
    });

    export default {
        components: {
            Modal,
            AddLangForm,
            HostContent
        },
        computed: {
            ...mapGetters({
                hostList: "getHostList",
                hostInfo: "getHostInfo"
            })
        },
        data() {
            return {
                selectedHost: null,
                isShowAddLangForm: false,
                isShowModal: false,
                hostNewLang: "",
                hostNewName: "",
                isNew: false
            };
        },
        created() {},
        mounted() {
            this.$store.dispatch("queryHostList");
        },
        methods: {
            saveClick() {
                this.$set(this.hostInfo.content, this.hostNewLang, {
                    name: this.hostNewName,
                    detail: [],
                    talks: ""
                });
                this.isShowAddLangForm = false;
            },
            selectHostFun(val) {
                this.$store.dispatch("queryHost", this.selectedHost);
            },
            onShowAddLangForm() {
                this.isShowAddLangForm = true;
                this.isShowModal = true;
            },
            onHideModal(param) {
                this.isShowAddLangForm = false;
                this.isShowModal = false;
            },
            addNewHostInfo() {
                this.isNew = true;
                this.selectedHost = null;
				this.$store.dispatch("initHostInfo");
            },
            onCancelCreate() {
                this.isNew = false;
                this.$store.dispatch("clear");
            }
        }
    };
</script>
