<template>
    <div class="form-group row">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text">Host Image</span>
            </div>
            <div class="custom-file">
                <input
                    type="file"
                    class="custom-file-input"
                    id="inputGroupFile01"
                    @change="readURL"
                />
				<input type="text" class="form-control" readonly :value="uploadImg">
                <label class="custom-file-label" for="inputGroupFile01" ref="fileSelect" >choose file</label>
            </div>
        </div>
        <img :src="uploadImg" class="col-5 img-thumbnail" />
    </div>
</template>

<script>
    export default {
        data() {
            return {
				uploadImg: null,
				hostImgName: "",
            };
        },
        methods: {
            readURL(e) {
                if (e.target.files && e.target.files[0]) {
                    const file = e.target.files[0];
                    const reader = new FileReader();
                    reader.onload = e => {
						this.uploadImg = e.target.result;
						this.$refs.fileSelect.innerHTML = file.name;
						this.hostImgName = file.name;
                    };
                    reader.readAsDataURL(file);
                }
            }
        }
    };
</script>
