<template>
    <sidebar-menu :menu="menu" />
</template>

<script>
	import { SidebarMenu } from 'vue-sidebar-menu';

    export default {
		components: {
			SidebarMenu
		},
        data() {
			return {
				menu: [
					{
						href: "/",
						title: "Dashboard",
						icon: "fa fa-user"
					},
					{
						href: "#",
						title: "Charts",
						icon: "fa fa-chart-area"
					}
				]
			}
        }
    };
</script>
