<template>
    <div>
        <div
            :class="{ modal: true, fade: true, show: isShow, 'd-block': isShow }"
            tabindex="-1"
            role="dialog"
            aria-labelledby="exampleModalLabel"
            aria-hidden="true"
        >
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">{{title}}</h5>
                    </div>
                    <div class="modal-body">
						<slot></slot>
                    </div>
                    <div class="modal-footer">
						<button
                            type="button"
                            class="btn btn-secondary"
                            data-dismiss="modal"
                            @click="cancel"
                        >Cancel</button>
                        <button type="button" class="btn btn-primary" @click="callBackFun">Add</button>
                    </div>
                </div>
            </div>
        </div>
        <div :class="isShowModal ? 'modal-backdrop fade show' : ''"></div>
    </div>
</template>

<script>
export default {
	props: ["isShow", "title", "callBackFun"],
	methods: {
		cancel() {
			this.$emit("hide-modal")
		}
	}
}
</script>
