<template>
    <div id="app">
		<sidebar-menu :menu="menu" :collapsed="true" :width="'200px'" />
        <router-view />
    </div>
</template>

<script>
	import menu from '@/components/Menu'

    export default {
		name: "App",
		data() {
			return {
				menu: [
					{
						href: "/",
						title: "Dashboard",
						icon: "fa fa-user"
					},
					{
						href: "HistoryGenerator",
						title: "HistoryGenerator",
						icon: "fas fa-history"
					},
					{
						href: "HostProfile",
						title: "Host Profile Editor",
						icon: "fas fa-id-card"
					}
				]
			}
        }
    };
</script>
